<% if logged_in? %>
  <h1><%= current_user.name %>のタスク一覧</h1>
  
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
    <% end %>
  </ul>
  
  <%= link_to '新規タスクの投稿', new_task_path %>  
  <%= link_to 'ログアウト', logout_path, method: :delete %></li>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Tasklistへようこそ！</h1>
      <%= link_to 'ログイン', login_path, class: 'nav-link' %>
      <%= link_to 'ユーザ登録がまだの方はこちら', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>